.section {
  min-height: 100vh;
  background: url(../../assets/img/hero.jpg) no-repeat center;
  background-size: cover;
}

.sections_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 90px 80px 0 80px;
}

.text_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 734px;
  width: 100%;
}

.top_subtitle {
  font-family: 'CeraProp';
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.title {
  font-family: 'CeraProp';
  font-size: 70px;
  font-weight: 700;
  color: var(--white);
}

.bottom_subtitle {
  font-family: 'CeraProp';
  font-size: 24px;
  font-weight: 400;
  color: var(--white);
}

.form {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 950px) {
  .sections_content {
    padding: 140px 40px 0 40px;
  }

  .text_content {
    max-width: 619px;
  }

  .title {
    font-size: 60px;
    line-height: 75px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    min-height: 100vh;
    background: url(../../assets/img/hero-mob.jpg) no-repeat center;
    background-size: cover;
  }
}