.hidden {
  display: none;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 10px;
  row-gap: 40px;
  padding: 65px 0;
  background-color: var(--white);
  margin: -35px 0 60px 0;
  border-radius: 0 0 20px 20px;
  height: 480px;
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 1;
}

.calendar::-webkit-scrollbar {
  width: .5rem;
}

.calendar::-webkit-scrollbar-thumb {
  background-color: var(--gray-medium);
  height: 1rem;
}

.calendar::-moz-progress-bar {
  background-color: var(--gray-medium);
  width: .5rem;
  height: 1rem;
}

.calendar-month {
  max-width: 440px;
}

.calendar-month-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 4px;
  margin-bottom: 10px;
}

.calendar-weekday {
  width: 60px;
  font-size: 12px;
  color: var(--gray-text-medium);
  text-align: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 4px;
}

.calendar-day {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(230, 230, 230, 1);
  cursor: pointer;
}

.calendar-day-selected {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.calendar-day-filled {
  background-color: var(--orange);
  color: var(--white);
}

.calendar-day-past {
  background-color: var(--gray-light);
  color: #857D7D;
  text-decoration: line-through;
}

@media screen and (max-width: 1100px) {
  .calendar {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}