.header {
  background-color: var(--white);
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 94px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 0px 1px 3px 1px #00000026;
}

@media screen and (max-width: 600px) {
  .logo > img {
    width: 189px;
  }
}